body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-color: #cf0404;

}
#title{
    background-color: #e6d9db;
    color: rgb(230, 221, 221);
    /* height: 100vh; */
}

.container-fuild{
    padding:  30px  10px;
    background-color: #000000fe;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* navigation bar */

.navbar{
    padding:0 0 4.5rem !important;
   
    
/* here wwe have to use !important becuse sometime we can not re write bootstrap directly */

}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 10px 10px;
    transition: 1s;
}
.nav-item:hover{
 box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.716);
 background-color: rgba(255, 255, 255, 0.716);

}
.nav-link,.search{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #e6d9db;
}
/* download-button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-img{
    width: 60%;
    position: relative;
    top: -50px;
    /* position: absolute; */
}
@media (max-width:1028px ) and (min-width:700px){
    /* we have to change font og everything fo mobile users */
    body{
        font-size: 4rem;
        
       
    }
    .h111{
        font-size: 5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        top: -45px;
    }
    .h222{
        font-size: 4rem;
    }
    .h333{
        font-size: 5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .navbar-brand,.navbar-toggler{
        font-size: 3.5rem;
    }
    .nav-link,.mobile{
        font-size: 3rem;
    }
    #title{
        text-align: center;
        /* height: 205vh; */
    }
    #title .nav-item{
        text-align: left;
    }
    .title-img{
        transform: rotate(0deg);
        position: relative;
        top: 10px;
        width: 90%;
    }
   .btn{
        padding: 30px;
        font-size: 40px;
        position: relative;
        top: 2px;
        font-size: 3rem;
        display: inline-block;
    }
  .co{
    font-size: 2rem;
}
.responsive-font-example{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    
}
}
/* features */
#features{
    padding: 7% 15%;
    background-color: rgba(0, 0, 0, 0.697);
    position: relative;
    z-index: 1;
   
    /* here we use position relatie and z-index to overlap phone img by features-seaction */
}
.feature-1{
    text-align: center;
}
.icon2{
    color: #ef8172;
    font-size: 3rem;
}
.icon2:hover{
    color: #ff4c68;
}
h3{
    font-size: 1.5rem;
    font-family: "Montserrat-bold";
}
p{
    color: #ffffff;
}

/* testimonials */
#testimonials{
     padding: 7% 15%; 
    text-align: center;
    background-color: #090808;
    color:white;
    padding: 10px;
}
h2{
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}

/* FOR GETTING BOTTOM AT FAR FORM CCONTENT  we will give padding to onoly carousel-item*/
.carousel-item{
    padding: 7% 15%;
}

/* press */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img{
    width: 20%;
    padding: 3%;
}

/* price */
#pricing{
    text-align: center;
    padding: 3% 15%;
}
.price-cards{
    padding: 3% 2%;
}
.card{
    height: 450px;
}
.card:hover{
    box-shadow:0 0 30px 30px #ef817284
    /* it is use to create shadow of object  */
}

/* cta */

#cta{
    
    background-color: #0f0e0e9e;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
}

/* footer */
#footer{
    padding: 3% 15%;
    text-align: center;
}
.footer-img{
    padding: 5%;
    color: rgb(252, 248, 248);
}

.footer-img:hover{
    box-shadow:0 0 5px 5px #ef817286;
}
.dropdown-menu{
    color: #f8f5f5;
}
.co{
    font-size:20px;
}
.img-fluid{
    box-shadow: 0 0 40px 40px rgba(129, 44, 11, 0.609) ;
    
}
.responsive-font-example{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 40px;
    
}
.Sneak img{
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.748);
}
#heads{
    color: #ffffff;
    text-shadow: rgb(140, 0, 255) 10px 0 10px;
    border: 5px  solid white;
    font-family: fantasy;
    padding: 10px;
    font-size: 40px;


}
.btn{
    display: inline-block;
}
.Sneak img{
    
    margin: 20px 0px 20px 0px;
}